---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import TechCarousel from '../components/TechCarousel.astro';
import WhatIDo from '../components/WhatIDo.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Lazar Dinov &mdash; Full-Stack Developer">
  <section id="home" class="scroll-mt-24">
    <Hero />
    <TechCarousel />
    <WhatIDo />
  </section>

  <section id="projects" class="scroll-mt-24">
    <Projects />
  </section>

  <section id="contact" class="scroll-mt-24">
    <Contact />
  </section>
</Layout>
